body {
	margin: 0;
	overflow: auto;
	font-family: Verdana;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.459);
	margin: 0px;
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 100%; /* dostosuj do szerokości kontenera */
	height: auto;
}

	#container
	{
		
		width: 1000px;
		min-height: 600px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 1;
		text-align: center;
		color: rgba(255, 255, 255, 0.541);
		font-size: 36px;
		border-top: 2px solid rgb(7, 46, 6);
		border-right: 2px solid rgb(7, 46, 6);
		border-left: 2px solid rgb(7, 46, 6);
		
	}
	#logo
	{
		height: 150px;
		
	}
	#nav
	{
	height: 50px;
	}

	#content
	{
	background-color:rgba(255, 255, 255, 0.705);
	padding: 25px;
    color: black;
	min-height: 600px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	}
	#footer
	{
	color: white;
	text-align: center;
	background-color: black;
	padding: 9px;
	font-size: 13px;
	}
	.tile1
{
	float: left;
	width: 20%;
	height: 39px;
	background-color: #336d39;
	color: white;
	text-align: center;
	font-size: 17px;
    padding-top: 11px;
	display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
}
.tile1:hover
{
	background-color: #2e5732;
}
.tile2
{
	float: left;
	width: 20%;
	height: 39px;
	background-color: #336d39;;
	color: white;
	text-align: center;
	font-size: 17px;
    padding-top: 11px;
	display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
}
.tile2:hover
{
	background-color: #2e5732;
}
.tile3
{
	float: left;
	width: 20%;
	height: 39px;
	background-color: #336d39;
	color: white;
	text-align: center;
	font-size: 17px;
    padding-top: 11px;
	display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
}
.tile3:hover
{
	background-color: #2e5732;
}
.tile4
{
	float: left;
	width: 20%;
	height: 39px;
	background-color: #336d39;
	color: white;
	text-align: center;
	font-size: 17px;
    padding-top: 11px;
	display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
}
.tile4:hover
{
	background-color: #2e5732;
}
.tile5
{
	float: left;
	width: 20%;
	height: 39px;
	background-color: #336d39;
	color: white;
	text-align: center;
	font-size: 17px;
    padding-top: 11px;
	display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
}
.tile5:hover
{
	background-color: #2e5732;
}
a.dblink:hover
{
	color: #007d7d;
	text-decoration: underline;
}
a.tilelink
{
	color: white;
	text-decoration: none;
	display: block;
	width: 250px;
	height: 50px;
}
a.dblink
{
		color: black;
	text-decoration: none;
}


img.tak {
	width: 948px;
	height: 500px;
	padding-bottom: 20px;
}


.centered-text {
	text-align: center;
	margin-top: 20px;
	font-family: 'Arial', sans-serif;
}

.centered-text p {
	position: relative;
	display: inline-block;
}

.centered-text p::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: red;
	bottom: 0;
	left: 0;
}
.line-spacing {
	padding-bottom: 20px; /* Dostosuj odstęp między liniami według potrzeb */
	display: block; /* Upewnij się, że element jest blokowy */
}
h2
{
	 font-size:30px;
    text-align: center;
    margin: 0 20% 60px 20%;
    padding-bottom: 10px;
	padding-top: 3px;
    border-bottom: 2px solid rgb(7, 46, 6);
}
#pojemnik
{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#plansza
{
	width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 48px;
	min-height: 60px;
}

#szubienica
{
	float: left; 
	width: 450px;
	text-align: center;
	min-height: 280px;
}

#alfabet
{
	float: left; 
	width: 450px;
	text-align: center;
	min-height: 280px;
}

.litera
{
	width: 35px;
	height: 35px;
	text-align:center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

.litera:hover
{
	background-color: #222222;
	color: white;
	border: 3px solid white;
}

.reset
{
	color:green;
	cursor: pointer;
	font-size: 48px;
}

.reset:hover
{
	color:rgb(0, 0, 0);
}
